
        <div class="flex items-center absolute top-25 justify-center py-8">
            
            <button class="py-2 px-10 rounded bg-indigo-600 hover:bg-indigo-700 text-white">Open Modal</button>
            
        </div>
        <div class="w-full absolute top-20 h-full bg-black dark:bg-gray-900 bg-opacity-90  overflow-y-auto overflow-x-hidden sticky-0" id="chec-div">
            <div class="w-full absolute right-0 h-full overflow-x-hidden transform translate-x-0 transition ease-in-out duration-700" id="checkout">
                <div class=" flex items-end lg:flex-row flex-col justify-end" id="cart">
                    <div class="lg:w-1/2 md:w-8/12 w-full lg:px-8 lg:py-14 md:px-6 px-4 md:py-8 py-4 bg-white dark:bg-gray-800 overflow-y-hidden overflow-x-hidden lg:h-screen h-auto" >
                        <div class="flex items-center text-gray-500 hover:text-gray-600 dark:text-white cursor-pointer" onclick="checkoutHandler(false)">
                            <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/shopping-cart-1-svg1.svg" alt="previous"/>
                             <img class="dark:block hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/shopping-cart-1-svg1dark.svg" alt="previous"/>
                            <a href=".." class="text-sm pl-2 leading-none dark:hover:text-gray-200 pt-300px">Continue Shopping</a>
                            <button onclick="clearCart()" class="py-2 px-10 rounded bg-indigo-600 hover:bg-indigo-700 text-white">clear cart</button>
                        </div>
                        <p class="text-graygreen lg:text-4xl text-3xl font-black leading-10 text-gray-800 dark:text-white pt-3">Cart</p>
                        {{#each cartItems as |cart|}}
                        <div class="md:flex items-strech py-8 md:py-10 lg:py-8 border-t border-gray-50 cartItemsContainer" data-id={{cart.id}}>
                            <div class="md:w-4/12 2xl:w-1/4 w-full">
                                
                                <img class="imageCart"src="{{cart.thumbnail}}" alt="cartProduct" class=" w-full h-full object-center object-cover" />
                            </div>
                            <div class="md:pl-3 md:w-8/12 2xl:w-3/4 flex flex-col justify-center">
                                <p class="text-xs leading-3 text-gray-800 dark:text-white md:pt-0 pt-4">RF293</p>
                                <div class="flex items-center justify-between w-full pt-1">
                                    <p class="text-base font-black leading-none text-gray-800 dark:text-white cartProductName">{{cart.product_name}}</p>
                                    <select aria-label="Select quantity" class="py-2 px-1 border border-gray-200 mr-6 focus:outline-none dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-white">
                                        <option>01</option>
                                        <option>02</option>
                                        <option>03</option>
                                    </select>
                                </div>
                                
                        
                                <div class="flex items-center justify-between pt-5">
                                    <div class="flex itemms-center">
                                        
                                        <button class="text-xs leading-3 underline text-red pl-5 cursor-pointer cart-remove" data-id={{cart.id}}>Remove</button>
                                  
                                    </div>
                                    <p class="text-base font-black leading-none text-gray-800 dark:text-white cartPriceLike">${{cart.price}}</p>
                                </div>
                            </div>
                        </div>
                        
                        {{/each}}
                        
                    </div>
                    <div class="lg:w-96 md:w-8/12 w-full bg-gray-100 dark:bg-gray-900 h-full">
                        <div class="flex flex-col lg:h-screen h-auto lg:px-8 md:px-7 px-4 lg:py-20 md:py-10 py-6 justify-between overflow-y-auto">
                            <div>
                                <p class="text-graygreen lg:text-4xl text-3xl font-black leading-9 text-gray-800 dark:text-white">Summary</p>
                                <div class="flex items-center justify-between pt-16">
                                    <p class="text-base leading-none text-gray-800 dark:text-white">Subtotal</p>
                                    <p class="text-base leading-none text-gray-800 dark:text-white subTotal">${{totalPrice}}</p>
                                </div>
                                <div class="flex items-center justify-between pt-5">
                                    <p class="text-base leading-none text-gray-800 dark:text-white">Shipping</p>
                                    <p class="text-base leading-none text-gray-800 dark:text-white">$30</p>
                                </div>
                                <div class="flex items-center justify-between pt-5">
                                    <p class="text-base leading-none text-gray-800 dark:text-white">Tax</p>
                                    <p class="text-base leading-none text-gray-800 dark:text-white">$35</p>
                                </div>
                            </div>
                            <div>
                                <div class="flex items-center pb-6 justify-between lg:pt-5 pt-20">
                                    <p class="text-2xl leading-normal text-gray-800 dark:text-white">Total</p>
                                    <p class="text-2xl font-bold leading-normal text-right text-gray-800 dark:text-white total_price">${{totalPrice}}</p>
                                    <h1>{{count}}</h1>
                                </div>
                               <form action="/create-checkout-session" method="POST">
                                <button type="submit" class="text-base leading-none w-full py-5 bg-gray-800 border-gray-800 border focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 text-white dark:hover:bg-gray-700">Checkout</button>
                               </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <style>
                /* width */
                #scroll::-webkit-scrollbar {
                    width: 1px;
                }
      
                /* Track */
                #scroll::-webkit-scrollbar-track {
                    background: #f1f1f1;
                }
      
                /* Handle */
                #scroll::-webkit-scrollbar-thumb {
                    background: rgb(133, 132, 132);
                }
            </style>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="https://checkout.stripe.com/checkout.js"></script>
       
        <script src="js/cartDisplay.js"></script>
    